---

---

<footer class='mx-auto mt-24 w-full text-center'>
	<div class='border-t border-border pt-5'>
		<div class='flex flex-col items-center gap-y-3'>
			<div class='flex gap-x-4 text-sm'>
				<p class=''>Navaneeth Suresh © 2018-2024</p>
			</div>
		</div>
	</div>
</footer>
